<%- include(viewPath('home/panel/head')) -%>

<div style="margin: 20px">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>مقدار پرداخت</th>
        <th>بابت</th>
        <th>وضعیت پرداخت</th>
      </tr>
    </thead>
    <tbody>
      <% payments.docs.forEach(payment => { %>
      <tr>
        <td><%= payment.price %> تومان</td>
        <td>
          <%= payment.vip ? 'شارژ عضویت ویژه' : `خرید ${payment.course ?
          payment.course.title : 'خرید دوره ی قدیمی'}` %>
        </td>
        <td><%= payment.paid ? 'موفق' : 'ناموفق' %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <%- include(viewPath('layouts/pagination') ,{ pagination : payments}) %>
</div>
